html {
	width: 100%;
	height: 100%;
}

@font-face {
    font-family: myriad;
    src: url(../../../assets/myriad.otf);
}

a, p, h1, h2, h3, li {
	font-family: myriad;
	line-height: 20pt;
}

@media screen and (min-width: 426px) {

	#title {
		width: 45%;
		margin: 0 auto;
	/*	text-align: center;*/
		padding-top: 40px;
		padding-bottom: 2px;
	}

	#text {
		width: 45%;
		margin: 0 auto;
	}

	.image {
		position: absolute;
		top: 35%;
		right: 3%;
		width: 19%;
		transition: 0.5s;
	}

	.image img {
		width: 100%;
	}

	.image p {
		font-size: 11pt;
		margin-top: 0px;
	}

	.image:hover {
		width: 50%;
		transition: 0.5s;
	}

	#thread06pov {
		width: 22vw;
		position: fixed;
		top: 20vh;
		left: -5px;
	}

	#thread06ed {
		width: 22vw;
		position: fixed;
		top: 100px;
		right: -5px;
	}

	#thread06pol {
		width: 22vw;
		position: fixed;
		top: 75vh;
		left: -8px;
	}

	#threadconclusion {
		width: 22vw;
		position: fixed;
		top: 80vh;
		right: -8px;
	}

	.share {
		margin: 0 auto;
		display: inline-block;
		margin-left: 27.5%;
		padding: 40px 0px;
	}

	.share svg {
		width: 30px;
		display: inline-block;

	}

	#home {
		width: 80px;
		left: 27.5%;
		position: relative;
		padding-bottom: 50px;
	}

}

@media screen and (max-width: 425px) {

	#title {
		width: 90%;
		margin: 0 auto;
	/*	text-align: center;*/
		padding-top: 40px;
		padding-bottom: 2px;
	}

	#text {
		width: 90%;
		margin: 0 auto;
	}

	.image {
		/*position: absolute;*/
		/*top: 35%;
		left: 3%;*/
		width: 90%;
		margin: 0 auto;
/*		transition: 0.5s;*/
	}

	.image img {
		width: 100%;
	}

	.image:hover {
		width: 50%;
		transition: 0.5s;
	}

	.image p {
		font-size: 11pt;
		margin-top: 0px;
	}

	#thread01wd {
	/*	width: 45vw;
		right: 0px;
		position: absolute;*/
		/*position: fixed;
		top: 10vh;
		right: -5px;*/
	}

	.share {
		margin: 0 auto;
		display: inline-block;
		margin-left: 27.5%;
		padding: 40px 0px;
	}

	.share svg {
		width: 30px;
		display: inline-block;

	}
	/*
	#tumblr {
		display: inline-block;
	}

	#facebook {
		display: inline-block;
	}*/

	#home {
		width: 80px;
		left: 5vw;
		position: absolute;
		padding-bottom: 50px;
	}

}
