html {
	width: 100%;
	height: 100%;
}


@media screen and (min-width: 940px) {

    #laptop svg {
	height: 95vh;
	width: auto;
	display: block;
	margin: 0 auto;
	/*padding: 4vh 0; */
	}

	#tablet {
		display: none;
	}
}

@media screen and (max-width: 939px) {

    #tablet svg {
	height: 95vh;
	width: auto;
	display: block;
	margin: 0 auto;
	/*padding: 4vh 0; */
	}

	#laptop {
		display: none;
	}
}