* {
	box-sizing: border-box;
}


body {
	background-color: lightcoral;
	padding-top: 100px;
}

main {
	font-size: 0;
	width: 100%;
	min-width: 693px;
	margin: auto;
}

nav {
	position: fixed;
	top: 10px;
	left: 20px;
	width: 300px;
}

nav a {
	background: lightblue;
	color: black;
	padding: 10px;
	display: inline-block;
	border: 1px solid black;
	margin-bottom: 4px;
	transition: background-color 0.5s, padding 0.5s;
}

nav a:hover {
	background-color: steelblue;
	padding: 20px;
}

nav a:active {
	color: white;
	border-color: white;
}

h1 {
	font-weight: 100;
	font-size: 40px;
	margin-left: 10px;
}

/*COLUMN DECLARATIONS*/
.col {
	background-color: lightblue;
	display: inline-block;
	font-size: 20px;
	margin: 0 10px 10px;
	text-align: center;
	vertical-align: top;
}

.col img, .col iframe {
	width: 100%;
	vertical-align: top; /*get rid of space at bottom of div*/
}

.col iframe {
	height: 400px;
}

.col-1of6 {
	width: calc(16.666% - 20px);
}

.col-2of6 {
	width: calc(33.333% - 20px);
}

.col-3of6 {
	width: calc(50% - 20px);
}

.col-4of6 {
	width: calc(66.666% - 20px);
}

.col-5of6 {
	width: calc(83.333% - 20px);
}

.col-6of6 {
	width: calc(100% - 20px);
}

.col-nest {
	font-size: 0;
	border: 0;
	background-color: lightpink;
}