* {
	background-color: #ECEADB;
}

@font-face {
    font-family: "Century Gothic";
    src: url("../centurygothic") format("truetype");
}

.page {
	margin: -8px;
}

a {
	text-decoration: none;
	font-family: "Century Gothic";
}

p {
	text-decoration: none;
	font-family: "Century Gothic";
	font-size: 17px;
}

i,b,li {
	font-family: "Century Gothic";
	font-size: 17px;
}

iframe {
	width: 100%;
}

/* TOP NAV */

#topnav {
	width: 100%;
	height: 55px;
	margin: -4px 0px;
	padding-left: 10px;
}

#topnav div{
	display: inline-block;
}

.button1 {
	width: 49%;
	
}

.button1 p{
	background-color: #60896A;
	color: white;
	display: inline-block;
	margin: 0px -2px;
	font-size: 20px;
	width: 100%;
	text-align: center;
	padding: 15px 15px 15px 15px;
}

.button2 p{
	background-color: #60896A;
	padding: 15px;
	color: white;
	display: inline-block;
	margin: 0px -2px;
	font-size: 20px;
	width: 100%;
	text-align: center;
}

.button2 {
	width: 49%
}

.selected p{
	background-color: #4B6F57;
}

.button1 p:hover {
	background-color: #4B6F57;
}

.button2 p:hover {
	background-color: #4B6F57;
}

/*SIDENAV*/
#sidenav {
  height: 100%;
  width: 250px;
  background-color: #ECB477;
  position: fixed;
  transition: left 0.5s;
  top: 0px;
  z-index: 1;
}

#sidenav a {
	background-color: #ECB477;
	text-decoration: none;
	color: black;
}

#sidenav p {
	background-color: #ECB477;
	text-decoration: none;
	color: black;
}

#sidenav a:hover {
	color: white;
}

.filter {
	background-color: #ECB477;
	margin-left: 30px;
	margin-top: 70px;	
}

.open {
  left: 0;
}

.closed {
  left: -200px;
}

#closebtn {
	width: 50px;
	height: 50px;
	margin-left: 200px;
	margin-top: -230px;
	background-color: #ECB477;
	z-index: 20;
	cursor: pointer;
	text-align: center;
	position: fixed;
}

#closebtn p {
	font-size: 40px;
	background-color: #ECB477;
}

#closebtn p:hover {
	color: white;
	cursor: pointer;
}

.hidden {
	display: none;
}

#filtertag {
	display: fixed;
	transform: rotate(270deg);
	width: 50px;
	margin-top: -150px;
	margin-left: 200px;
	cursor: pointer;
}

#filtertag p {
	color: white;
	background-color: #ECB477;

}

/*BACK*/

.back p{
	margin-left: 100px;
	display: inline-block;
	position: absolute;
	background-color: #404740;
	color: white;
	margin-top: 15px;
}

.back {
	width: 155px;
	height: 54px;
	margin-top: -51px;
	background-color: #404740;
	position: absolute;

}

.back img {
	position: absolute;
	margin-left: 65px;
	margin-top: 15px;
	background-color: #404740;

}

/*ARTICLES*/

.article {
	width: 50%;
	display: block;
	margin: auto;
	padding-bottom: 60px;
	padding-top: 40px;
	line-height: 1.4em;
}

.article img {
	margin: auto;
	display: block;
	width: 100%;

}

.title h2{
	margin-left: -80px;
	text-transform: uppercase;
	font-family: "Century Gothic";
}

.author {
	text-align: right;
}