* {
	background-color: #ECEADB;
}

@font-face {
    font-family: "Century Gothic";
    src: url("../assets/centurygothic") format("truetype");
}

.page {
	margin: -8px;
}

a {
	text-decoration: none;
	font-family: "Century Gothic";
	color: white;
	font-size: 17px;
}

p {
	text-decoration: none;
	font-family: "Century Gothic";
}

h3 {
	text-decoration: none;
	font-family: "Century Gothic";
	font-size: 28px;
	color: #4B6F57;
	text-align: center;
}

h2 {
	text-decoration: none;
	font-family: "Century Gothic";
	font-size: 28px;
	color: white;
}

/* TOP NAV */

#topnav {
	width: 100%;
	height: 55px;
	margin: -4px 0px;
	padding-left: 10px;
	background-color: #60896A;
}

#topnav div{
	display: inline-block;
}

.button1 {
	width: 49%;
	
}

.button1 p{
	background-color: #60896A;
	color: white;
	display: inline-block;
	margin: 0px -2px;
	font-size: 20px;
	width: 100%;
	text-align: center;
	padding: 15px 15px 15px 15px;
}

.button2 p{
	background-color: #60896A;
	padding: 15px;
	color: white;
	display: inline-block;
	margin: 0px -2px;
	font-size: 20px;
	width: 100%;
	text-align: center;
}

.button2 {
	width: 49%
}

.selected p{
	background-color: #4B6F57;
}

.button1 p:hover {
	background-color: #4B6F57;
}

.button2 p:hover {
	background-color: #4B6F57;
}





/*SLIDESHOW*/
#slideshow {
	width: 50%;
	height: 400px;
	margin: auto;
	overflow: hidden;
}

.titles {
	width: 50%;
	height: 35px;
	margin: auto;
	padding-bottom: 30px;
}

.text {
	width: 100%;
	height: 100%;
	padding-top: 12px;
	background-color: #4B6F57;
	text-align: center;
}

.text a{
	background-color: #4B6F57;

}

.one {
	background-image: url(../media/img/medcottage2.jpg);
	background-size: cover;
	overflow: hidden;
	opacity: 0.8;
}


.two {
	background-image: url(../media/img/quell2.jpg);
	background-size: cover;
	overflow: hidden;
	opacity: 0.8;
}

.three {
	background-image: url(../media/img/hacking.jpg);
	background-size: cover;
	overflow: hidden;
	opacity: 0.8;
}

.hidden {
	display: none;
}

#buttons {
	text-align: center;
}

#btn1,#btn2,#btn3 {
	height: 20px;
	width: 20px;
	display: inline-block;
	background-color: #60896A;
	margin: 2px;
	cursor: pointer;
}

#btn1:hover,#btn2:hover,#btn3:hover {
	background-color: #4B6F57;
}


.btnselected {
	background-color: #4B6F57;
}






/*BOTTOM BAR*/
.bottombar {
	height: 80px;
	width: 100%;
	background-color: #60896A;
/*	margin-bottom: -50px;*/

}

.bottombar p {
	text-align: center;
	color: white;
	background-color: #60896A;
	padding-top: 20px;
}

/*ABOUT*/
.about {
	width: 50%;
	display: block;
	margin: 100px auto;
	padding-bottom: 60px;
	line-height: 1.4em;
}