* {
	background-color: #ECEADB;
}

@font-face {
    font-family: "Century Gothic";
    src: url("../assets/centurygothic") format("truetype");
}

.page {
	margin: -8px;
}

a {
	text-decoration: none;
	font-family: "Century Gothic";
}

p {
	text-decoration: none;
	font-family: "Century Gothic";
}

h3 {
	text-decoration: none;
	font-family: "Century Gothic";
	font-size: 28px;
	color: #4B6F57;
}

/* TOP NAV */

#topnav {
	width: 100%;
	height: 55px;
	margin: -4px 0px;
	padding-left: 10px;
}

#topnav div{
	display: inline-block;
}

.button1 {
	width: 49%;
	
}

.button1 p{
	background-color: #60896A;
	color: white;
	display: inline-block;
	margin: 0px -2px;
	font-size: 20px;
	width: 100%;
	text-align: center;
	padding: 15px 15px 15px 15px;
}

.button2 p{
	background-color: #60896A;
	padding: 15px;
	color: white;
	display: inline-block;
	margin: 0px -2px;
	font-size: 20px;
	width: 100%;
	text-align: center;
}

.button2 {
	width: 49%
}

.selected p{
	background-color: #4B6F57;
}

.button1 p:hover {
	background-color: #4B6F57;
}

.button2 p:hover {
	background-color: #4B6F57;
}

/*SIDENAV*/
#sidenav {
  height: 100%;
  width: 250px;
  background-color: #ECB477;
  position: fixed;
  transition: left 0.5s;
  top: 0px;
  z-index: 1;
}

#sidenav a,p {
	background-color: #ECB477;
	text-decoration: none;
	color: black;
}

#sidenav a:hover {
	color: white;
}

.filter {
	background-color: #ECB477;
	margin-left: 30px;
	margin-top: 70px;	
}

.open {
  left: 0;
}

.closed {
  left: -200px;
}

#closebtn {
	font-size: 40px;
	margin-left: 170px;
	margin-top: -60px;
	background-color: #ECB477;
	z-index: 2;
}

#closebtn a:hover {
	color: white;
	cursor: pointer;
}

.hidden {
	display: none;
}

#filtertag {
	display: fixed;
	transform: rotate(270deg);
	width: 50px;
	margin-top: -150px;
	margin-left: 200px;
}

#filtertag p {
	color: white;
	background-color: #ECB477;

}

/*#sidefilter {
	width: 25px;
	height: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #ECB477;
}

#sidefilter p {
	position: relative;
	transform: rotate(270deg);
	vertical-align: center;
	text-align: center;
	color: white;
	background-color: #ECB477;
	margin-top: 300px;
}*/
/*
.sidemenu {
	width: 25px;
	height: 100%;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: #ECB477;
}

.sidemenu p {
	position: relative;
	transform: rotate(90deg);
	vertical-align: center;
	text-align: center;
	color: white;
	background-color: #ECB477;
	margin-top: 300px;
}*/

/*ARTICLE PREVIEW*/
.pagecontent {
	padding: 20px 20px;
	text-align: center;
}

.contentpreview {
	width: 38%;
	height: 38%;
	margin: 20px;
	display: inline-block;

}

.textpreview p, h2{
	background-color: #4B6F57;
	color: white;
	margin-top: -10px;
}

.textpreview h2 {
	padding-top: 10px;
}

.textpreview {
	background-color: #4B6F57;
	padding: 10px 5px;
}

.imgpreview {
	margin-bottom: -5px;
}

.pagecontent img{
    max-width: 100%;
    max-height: 100%;
    opacity: 0.8;
}

/*BOTTOM BAR*/
.bottombar {
	height: 80px;
	width: 100%;
	background-color: #60896A;
	margin-bottom: -20px;
}

.bottombar p {
	text-align: center;
	color: white;
	background-color: #60896A;
	padding-top: 20px;
}

/*ABOUT*/
.about {
	width: 50%;
	display: block;
	margin: 100px auto;
	padding-bottom: 60px;
	line-height: 1.4em;
}