html, body{
	height:100%;
	width: 100%;
	top: 0px;
	left: 0px;
}

/*body{
	background-color: white;
	background-image:url(../img/flashlight2.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
}*/

@font-face {
    font-family: myriad;
    src: url(../myriad.otf);
}

p, a, h1, h2, h3{
	color: white;
	text-align: center;
	font-family: myriad;
	text-decoration: none;
}


/*
#about {
	width: 45%;
	margin: 0 auto;
}

#me {
	width: 45%;
	margin: 0 auto;
}*/

@media screen and (min-width: 761px) {

	body{
		background-color: white;
		background-image:url(../img/flashlight2.png);
		background-repeat:no-repeat;
		background-position:50% 50%;
		margin-top: -30vh;
		margin-left: -5vw;
	}

	#title {
		width: 80%;
		margin: 0 auto;
/*		padding-top: 1%;*/
		font-size: 20pt;
		text-decoration: none;
		vertical-align: middle;
	}

	#title h2 {
		width: 100%;
		font-size: 40vh;
		text-align: center;
		vertical-align: center;
	}

}

@media screen and (max-width: 760px) {

	body{
		background-color: white;
		background-image:url(../img/flashlight1.png);
		background-repeat:no-repeat;
		background-position:50% 50%;
	}

	#title {
		width: 40%;
		margin: 0 auto;
		padding-top: 30%;
		font-size: 30pt;
		text-decoration: none;
		text-align: center;
	}

}

