html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

p {
	font-size: 10pt;
}

.text {
	position: absolute;
	width: 400px;
	height: 500px;
	margin-left: calc(50% - 220px);
	margin-top: calc(50vh - 250px);
	padding-top: 70px;

}

.img1 {
	width: 1000px;
	height: 500px;
	margin-left: calc(50% - 500px);
	margin-top: calc(50vh - 250px);
	position: absolute;
	background-image: url("../img/rect2a.jpg");
	background-size: cover;
	overflow: hidden;

}

.img2 {
	width: 440px;
	height: 500px;
	margin-left: calc(50% - 220px);
	margin-top: calc(50vh - 250px);
	position: absolute;
	background-image: url("../img/rect2b.jpg");
	background-size: cover;
	overflow: hidden;
	z-index: 2;
	transition: 1.5s;
}

.img2:hover {
	margin-top: 500px;
	transition: 1.5s;
}

.left {
	position: fixed;
	width: 30px;
	height: 100vh;
	left: 0px;
	background-color: #c2c2c2;
	opacity: 0.5;
}

.right {
	position: fixed;
	width: 30px;
	height: 100vh;
	right: 0px;
	background-color: #c2c2c2;
	opacity: 0.5;
}